<div class="container">
    <mat-card *ngFor=" let lesson of lessons" (click)="goToDetail(lesson.id)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{lesson.title}}</mat-card-title>
             
            <mat-card-subtitle>
              posted at {{now}}
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="lesson.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
              {{lesson.content}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
</div>

